{% include 'header.html' %}
	    <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                      <h3>API data</h3>
                        <div class="form-inline">
                        </div>
                        <div class="dropdown for-notification">
                        </div>
                        <div class="dropdown for-message">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                </div>
            </div>
        </header>
		<!-- Header -->

<h1>api  here </h1>



{% include 'footer.html' %}
