{% include 'header.html' %}

	    <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                      <h3>Documentation</h3>
                        <div class="form-inline">
                        </div>
                        <div class="dropdown for-notification">
                        </div>
                        <div class="dropdown for-message">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                </div>
            </div>
        </header>
		<!-- Header -->
  <div class="content mt-3">

<div class="animated fadeIn">



<div class="col-lg-6">
      <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Software Used</strong>
                        </div>
                        <div class="card-body">
           
						<img src="/static/images/used.png">
		   
                        </div>
                    </div>
</div>

<div class="col-lg-6">
      <div class="card">
                        <div class="card-header">
                            <strong class="card-title"></strong>
                        </div>
                        <div class="card-body">
           
						<img src="/static/images/blue2.png">
		   
                        </div>
                    </div>
</div>
<div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">The 2 parts of python</strong>
                        </div>
                        <div class="card-body">
           
						<img src="/static/images/blue1_v2.png">
		   
                        </div>
                    </div>
 </div>
<div class="col-lg-6">
      <div class="card">
                        <div class="card-header">
                            <strong class="card-title"> Scripts</strong>
                        </div>
                        <div class="card-body">
           
						<p class="text-dark"><b>The current project contains 3 python scripts and 6 HTML pages</b></p>
				
												<img src="/static/images/blue3.png">

						
                    </div>
</div>
</div>



</div>
</div>




{% include 'footer.html' %}
