<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Final Project</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="/static/assets/css/normalize.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/static/assets/scss/style.css">
    <link href="/static/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>


      <!-- Left Panel -->

      <aside id="left-panel" class="left-panel">
          <nav class="navbar navbar-expand-sm navbar-default">

              <div class="navbar-header">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="Logo"></a>
                  <a class="navbar-brand hidden" href="/"><img src="/static/images/logo2.png" alt="Logo"></a>
              </div>


                <div id="main-menu" class="main-menu collapse navbar-collapse">


                  <!-- left nav menu items-->
                  <ul class="nav navbar-nav">

                      <h3 class="menu-title">Indeed Scraping</h3>
                      <li class="menu-item-has-children dropdown">
                  <ul>
				  
                      <li><a href="/"><i class="menu-icon fa fa-folder-open-o"></i>Project Introduction</a></li>
                      <li><a href="/docs"><i class="menu-icon fa fa-file-text-o"></i>Documentation</a></li>
                      <li><a href="/tables"><i class="menu-icon fa fa-table"></i>Sample Data</a></li>
                      <li><a href="/graph"><i class="menu-icon fa fa-bar-chart"></i>Python Visualization</a></li>
                      <li><a href="/excel"><i class="menu-icon fa fa-line-chart"></i>Tableau and Excel</a></li>
					  <li><a href="/api"><i class="menu-icon fa fa-cloud-download"></i>Simple API</a></li>
					  

                  </ul>
                      </li>
                  </ul>
                  <!-- left nav menu items-->




                </div>


          </nav>
      </aside><!-- /#left-panel -->

      <!-- Left Panel -->

      <!-- Right Panel -->

      <div id="right-panel" class="right-panel">


