
{% include 'header.html' %}

	    <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                      <h3>Project Introduction</h3>
                        <div class="form-inline">
                        </div>
                        <div class="dropdown for-notification">
                        </div>
                        <div class="dropdown for-message">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                </div>
            </div>
        </header>
		<!-- Header -->
          <div class="content mt-3">
	            <div class="animated fadeIn">

              <!--Welcome banner  -->
              <div class="col-sm-12">
                  <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Welcome</span> to Indeed web scrapping project main page.
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              </div>
              <!--Welcome banner  -->
                <div class="col-sm-12">
                  <!-- info cards -->
                    <div class="col-md-4">
                          <div class="card text-white bg-flat-color-2">
                              <div class="card-body pb-0">
                                <div class="stat-widget-four">
                                        <div class="stat-icon dib">
                                            <i class="ti-server"></i>
                                        </div>
                                        <div class="stat-content">
                                            <div class="text-left dib">
                                              <h4 class="mb-0">
                                                  <span class="count">7120</span>
                                              </h4>
                                              <p class="text-light">job ads scrapped</p>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                          </div>
                      </div>
                    <div class="col-md-4">
                      <div class="card text-white bg-flat-color-2">
                          <div class="card-body pb-0">
                            <div class="stat-widget-four">
                                    <div class="stat-icon dib">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                      <h4 class="mb-0">
                                          <span class="count">100</span><span>+</span>
                                      </h4>
                                      <p class="text-light">hours coding</p>

                                    </div>
                                    </div>
                                </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card text-white bg-flat-color-2">
                        <div class="card-body pb-0">
                          <div class="stat-widget-four">
                                  <div class="stat-icon dib">
                                      <i class="fa fa-comments-o"></i>
                                  </div>
                                  <div class="stat-content">
                                      <div class="text-left dib">

                                    <h4 class="mb-0">
                                        <span class="count">10</span><span>+</span>
                                    </h4>
                                    <p class="text-light">group meetings</p>

                                  </div>
                                  </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  <!-- info cards -->
                <!-- Intro sentences -->
                  <div class="card">
                    <div class="card-header text-center">
                      <h4><i class="fa fa-folder-open-o"></i> Indeed Web Scrapping Project</h4>

                    </div>
                    <div class="card-body">
                      <div class="default-tab">
                      <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <p class="text-center"><b>What is Indeed ? </b></p>
                              <p class="text-center"><b>Indeed is the #1 job site in the world with over 200 million unique visitors every month.</b>
                              </p>
                              <p class="text-center">
                                <b>In this project we will be scrapping various job ads related to our major here at Georgian College
                                and we will proceed to do some data analysis and Visualization.</b>
                              </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                <!-- Intro sentences -->
                </div>

                    <!--Group header -->
              <div class="col-md-12">

                <div class="col-md-3">
              </div>
                <div class="col-md-6">
                  <div class="card text-white bg-flat-color-2">
                    <div class="card-body text-center">
                      <h2 class="text-light"><i class="fa fa-users"> </i> Group Members</h2>
                    </div>
                  </div>
                </div>
              </div>
                    <!-- Group header-->

              <!--Group Members -->
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block"  src="/static/images/abed.jpg" alt="Card image cap">
                                <h3 class="text-sm-center mt-2 mb-1">Abedullah Najia</h3>
                                <div class="location text-sm-center"><i class=""></i>Front-Backend Developer</div>
                            </div>
                            <hr>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                    </div>
					
							        <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block"  src="/static/images/ken.jpg" alt="Card image cap">
                                <h3 class="text-sm-center mt-2 mb-1">Kenghin Cheong </h3>
                                <div class="location text-sm-center"><i class=""></i>Data Analyst</div>
                            </div>
                            <hr>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card">
                          <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block"  src="/static/images/kern.jpg" alt="Card image cap">
                                <h3 class="text-sm-center mt-2 mb-1">Kern Samwed</h3>
                                <div class="location text-sm-center"><i class=""></i>Data Analyst</div>
                            </div>
                            <hr>
                          </div>
                            <div class="card-footer">
                            </div>
                          </div>
                    </div>

                    

                    <div class="col-md-12">
					
					       <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" src="/static/images/vivi.jpg" alt="Card image cap">
                                <h3 class="text-sm-center mt-2 mb-1"> Ngoc Lan Vy Nguyen </h3>
                                <div class="location text-sm-center"><i class=""></i>Business Analyst</div>
                            </div>
                            <hr>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                      </div>
					
					<div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block"  src="/static/images/sean.jpg" alt="Card image cap">
                                <h3 class="text-sm-center mt-2 mb-1">Sean Izah</h3>
                                <div class="location text-sm-center"><i class=""></i>Project Manager</div>
                            </div>
                            <hr>

                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                    </div>

                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" src="/static/images/serkan.jpg" alt="Card image cap">
                                <h3 class="text-sm-center mt-2 mb-1">Serkan Akbulut </h3>
                                <div class="location text-sm-center"><i class=""></i>Business Analyst</div>
                            </div>
                            <hr>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                    </div>
                  </div>
					
			
              
               
                  </div>
              <!-- Group Members-->
	
         </div>
          </div> <!-- .content -->
 


{% include 'footer.html' %}


